services:
  mongo:
    image: dolittle/mongodb
    hostname: mongo
    volumes:
      - ./data:/data
    ports:
      - 27017:27017
 
  runtime:
    image: dolittle/runtime:9.9.0
    volumes:
      - ./runtime.yml:/app/.dolittle/runtime.yml
      - ./appsettings.json:/app/appsettings.json
    ports:
      - 9700:9700
      - 50052:50052
      - 50053:50053